html{
  overflow-x: hidden;
}

#error{
  background-color: #E9ECEF;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25%;
  height: 100vh;

  > .row{
    height: calc(100vh - 65px);

    > div{

      .icon-error{
        color:#D71C26;
      }

      h1{
        font-size: 1.5rem;
      }

    }

  }

}// Fin #error
