.wrapper-users {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 25px;

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .create-user {
        border-radius: 20px;
        font-weight: 600;
    }

    .table {
        background-color: #fff;
        border-radius: 20px;
        margin: 0;
        padding: 15px;
        transition: all .3s;

        tbody,
        thead {

            th,
            td {
                text-align: center;
                vertical-align: middle;
            }

        }

        thead {
            &:nth-child(1) {
                border-bottom: 1px solid;
            }
        }

        tbody {

            tr {
                transition: all .3s;

                &:hover {
                    background-color: #F2F6FC;
                }

            }

        }

        tfoot {

            tr {

                td {
                    border: none;

                    &:nth-child(1) {
                        padding-top: 30px;
                    }

                    > div {
                        display: table;
                        margin-left: auto;
                        margin-right: auto;

                        > div {
                            display: table-cell;
                            padding-left: 5px;
                            padding-right: 5px;
                            vertical-align: middle;

                            .form-control {
                                max-width: 70px;
                            }

                            .icono {
                                color: #091F40;
                                font-size: 1.5rem;

                                &:hover {
                                    color: #000000;
                                    cursor: pointer;
                                }

                            }

                        }

                    }

                }

            }

        }

    }

}
