html{
  overflow-x: hidden;
}

[v-cloak] {
  display: none;
}

#app{
  background-color: #E9ECEF;

  .wrapper-forms {
    min-height: calc(100vh - 62px);
    padding-bottom: 50px;
    padding-top: 100px;

    @media (max-width: 575px) {
      padding-bottom: 0px;
      padding-top: 50px;
    }

    form{
      background-color: white;
      border:1px solid rgba(0,0,0,0.13);
      border-radius: 3px;
      margin-bottom: 50px;
      padding: 15px;
      transition: all .3s;

      &:hover{
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
      }

      > div{

        &.logo{
          margin-bottom: 40px;
          margin-top: 30px;
          text-align: center;

          img{
            height: 90px;
            width: auto;
          }

        }

        &.form-group{

          label{
            color:#091F40;
          }

          .invalid-feedback{
            display: block !important;
          }

          .form-control{
            border-radius: 2px;

            &.error{
              border-color: #dc3545;
            }

            &:disabled{
              cursor: not-allowed;
            }

          }

        }// Fin .form-group

      }

    }// Fin form

    .table{
      background-color: white;
      border:1px solid rgba(0,0,0,0.13);
      border-radius: 3px;
      margin-bottom: 50px;
      padding: 15px;
      transition: all .3s;

      &:hover{
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
      }

      thead{

        tr{

          th{
            background-color: #091F40;
            color:white;
            text-align: center;
            vertical-align: middle;
          }

        }

      }// Fin thead

      tbody{

        tr{
          transition: all .3s;

          &:hover{
            background-color: rgba(246,168,28,.5);
          }

          th{
            text-align: center;
          }

          td{
            text-align: center;

            a{
              color: #212529 !important;
            }

            .fas,
            .far{

              &:hover{
                cursor: pointer;
              }

            }

          }// Fin td

        }// Fin tr

      }// Fin tbody

      tfoot{

        tr{

          td{

            > div{
              display: table;
              margin-left: auto;
              margin-right: auto;

              > div{
                display: table-cell;
                padding-left: 5px;
                padding-right: 5px;
                vertical-align: middle;

                .form-control{
                  max-width: 70px;
                }

                .icono{
                  color: #091F40;
                  font-size: 1.5rem;

                  &:hover{
                    color: #000000;
                    cursor: pointer;
                  }

                }

              }

            }

          }

        }

      }// Fin tfoot

    }// Fin table

    .btn{

      border: 2px solid #091F40;
      border-radius: 2px;

      font-weight: 600;
      transition: all .3s;
      width: 100%;

      &:hover{
        background-color: #F6A81C !important;
        color: #091F40 !important;
      }

      &:disabled{
        cursor: not-allowed;
      }

      &.filtrar{
        background-color: #091F40;
        color: rgba(255,255,255,1);
      }

      &.limpiar_filtro{
        color: #091F40;
      }

    }

    .wrapper-alert{
      margin-top: 15px;

      > div{
        padding-left: 0px;
        padding-right: 0px;

        .alert{
          margin-bottom: 0px;
          text-align: center;
          width: 100%;
        }

      }

    }

  }// Fin .wrapper-forms

}// Fin #app
