html{
  overflow-x: hidden;
}

[v-cloak] {
  display: none;
}

#app{
  background-color: #E9ECEF;
  min-height: calc(100vh);

  > .row{

    &:nth-child(2){
      margin-bottom: 40px;
      margin-top: 40px;
    }

    form{
      background-color: white;
      border:1px solid rgba(0,0,0,0.13);
      border-radius: 3px;
      margin-bottom: 50px;
      margin-left: 0px;
      margin-right: 0px;
      padding: 15px;
      transition: all .3s;

      &:hover{
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
      }

      > div{

        #lista-cliente,
        #lista-socio,
        #lista-gerente{

          .btn{
            border: none;
            box-shadow: none !important;
            padding: 0px !important;
          }

          .dropdown-menu{
            width: 100%;

            .dropdown-item{
              padding: 0.25rem 0.7rem;
              white-space: normal;
            }

          }

        }// Fin #lista-cliente,
        // #lista-socio,
        // #lista-gerente

        &.form-group{

          .titulo-indicar-horas{
            color:#cc0000;
            margin-top: 30px;
            text-decoration: underline;
          }

          label{
            color:#091F40;

            &.label-warning{
              color:#cc0000;
            }

          }

          .form-control{
            border-radius: 2px;

            &:disabled{
              cursor: not-allowed;
            }

          }

          .form-control-plaintext{
            font-weight: 600;
          }

        }// Fin .form-group

      }// Fin > div

      > fieldset {

        .alert{
          margin-bottom: 10px !important;
        }

      }

      .multiselect{

        &.multiselect--disabled{
          background-color: transparent;

          .multiselect__select{
            background-color: transparent;
          }

        }

        .multiselect__select{
          height: calc(1.5em + 0.5rem + 2px);
          min-height: calc(1.5em + 0.5rem + 2px);

          &:before{
            border-color: #343A40 transparent transparent;
          }

        }// Fin .multiselect__select

        .multiselect__tags{
          border: 1px solid #ced4da;
          height: calc(1.5em + 0.5rem + 2px);
          min-height: calc(1.5em + 0.5rem + 2px);
          padding: 2px 40px 0 8px;

          .multiselect__tag{
            margin-top: 1px;
          }

          .multiselect__placeholder{
            color:#495057;
          }

          .multiselect__input{
            font-size: 0.875rem;
            height: calc(1.5em + 0.5rem + 2px);
            min-height: calc(1.5em + 0.5rem + 2px);

            &::placeholder {
              color: #495057;
            }

          }

        }// Fin .multiselect__tags

      }// Fin .multiselect

    }// Fin form

  }// Fin > .row

}// Fin #modificarProyecto

.modal{

  /*&[id^="modal-eliminar-"]{

    .modal-dialog{

      .modal-body{
        border-top-right-radius: calc(0.3rem - 1px);
        border-top-left-radius: calc(0.3rem - 1px);
        padding: 0px;
      }

    }

  }*/

  .modal-dialog{

    .modal-header{
      padding: 0.25rem 1rem;
    }

    .modal-body{

      form{
        padding: 0px;

        > div{

          &.form-group{

            label{
              color:#091F40;
            }

            .form-control{
              border-radius: 2px;

              &:disabled{
                cursor: not-allowed;
              }

            }

            .btn{

              &:disabled{
                cursor: not-allowed;
              }

              &.btn-outline-success{
                border: 2px solid;
                font-weight: 600;



              }

            }

          }// Fin .form-group

        }

      }// Fin form

      .alert{
        margin-bottom: 0px;
      }

      .table{
        transition: all .3s;

        &:hover{
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
        }

        thead{

          tr{

            th{
              background-color: #091F40;
              color:white;
              text-align: center;
            }

          }

        }// Fin thead

        tbody{

          tr{
            transition: all .3s;

            &:hover{
              background-color: rgba(246,168,28,.5);
            }

            th{
              text-align: center;
            }

            td{
              text-align: center;

              .icono{
                margin-left: 5px;
                margin-right: 5px;

                &:hover{
                  cursor: pointer;

                  &.bi-trash{
                    color: #DD3D31;
                  }

                }

              }

            }// Fin td

          }// Fin tr

        }// Fin tbody

      }// Fin table

    }// Fin .modal-body

    footer{
      padding: 0.25rem 1rem !important;

      .alert{
        margin: 10px 0px 10px 0px;
      }

      button{
        margin-left: 0px;
        margin-right: 0px;
      }

    }

  }// Fin .modal-dialog

}// Fin .modal
