html{
  overflow-x: hidden;
}

[v-cloak] {
  display: none;
}

#app{
  background-color: #E9ECEF;

  .wrapper-forms {
    min-height: calc(100vh - 62px);
    padding-bottom: 50px;
    padding-top: 100px;

    @media (max-width: 575px) {
      padding-bottom: 0px;
      padding-top: 50px;
    }

    form{
      background-color: white;
      border:1px solid rgba(0,0,0,0.13);
      border-radius: 3px;
      margin-bottom: 50px;
      padding: 15px;
      transition: all .3s;

      &:hover{
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
      }

      > div{

        #lista-cliente,
        #lista-socio,
        #lista-gerente{

          .btn{
            border: none;
            box-shadow: none !important;
            padding: 0px !important;
          }

          .dropdown-menu{
            width: 100%;

            .dropdown-item{
              padding: 0.25rem 0.7rem;
              white-space: normal;
            }

          }

        }// Fin #lista-cliente,
        // #lista-socio,
        // #lista-gerente

        &.form-group{

          .titulo-indicar-horas{
            color:#cc0000;
            margin-top: 30px;
            text-decoration: underline;
          }

          label{
            color:#091F40;

            &.label-warning{
              color:#cc0000;
            }

          }

          .form-control{
            border-radius: 2px;

            &:disabled{
              cursor: not-allowed;
            }

          }

          .form-control-plaintext{
            font-weight: 600;
          }

        }// Fin .form-group

      }

      > fieldset {

        .alert{
          margin-bottom: 10px !important;
        }

      }

      .multiselect{

        &.multiselect--disabled{
          background-color: transparent;

          .multiselect__select{
            background-color: transparent;
          }

        }

        .multiselect__select{
          height: calc(1.5em + 0.5rem + 2px);
          min-height: calc(1.5em + 0.5rem + 2px);

          &:before{
            border-color: #343A40 transparent transparent;
          }

        }// Fin .multiselect__select

        .multiselect__tags{
          border: 1px solid #ced4da;
          height: calc(1.5em + 0.5rem + 2px);
          min-height: calc(1.5em + 0.5rem + 2px);
          padding: 2px 40px 0 8px;

          .multiselect__tag{
            margin-top: 1px;
          }

          .multiselect__placeholder{
            color:#495057;
          }

          .multiselect__input{
            font-size: 0.875rem;
            height: calc(1.5em + 0.5rem + 2px);
            min-height: calc(1.5em + 0.5rem + 2px);

            &::placeholder {
              color: #495057;
            }

          }

        }// Fin .multiselect__tags

      }// Fin .multiselect

    }// Fin form

    .wrapper-alert{
      margin-top: 15px;

      > div{
        padding-left: 0px;
        padding-right: 0px;

        .alert{
          margin-bottom: 0px;
          text-align: center;
          width: 100%;
        }

      }

    }

  }// Fin .wrapper-forms

}// Fin #app
