.close-title, .close-subtitle{
    text-align: center;
    padding: 10px;
}

//Estilos del contenedor padre
.close-project{
    display:grid;
    background:@Container-Color;
    width: min(100%,70rem);
    margin: 20px auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,14rem), 1fr));
    //70rem/14rem=5 columnas

&-date{
    display:grid;
    color:@Text-Color;
    align-items: center;
    justify-self: flex-end;
    grid-area: 1 / 1 / 2 / 6;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    & span[for$="date-time"]{
        padding: 10px;
        font-weight: bold;
    }
}
&-label{
    background-color: @Thead-Color;
    color:@Text-Thead-Color;
    text-align: center;
    padding: 5px;
}
//Pertenece a todos los titulos principales de la tabla
#data-info{ grid-area: 2 / span 5 / 3 }
#value-proposed{ grid-area: 4 / span 5 / 5 }
#additional-billing{ grid-area: 6 / span 5 / 7}
#final-value-executed{ grid-area: 8 / span 5 / 9}

// #value-charged{ grid-area: 10 / 1 / 11 / 3}
#hours-unit{grid-area: 10 / 1/ 11 / 9}

&-info{
    display:grid;
    color:@Text-Color;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: 3 / 1 / 4 / 6;
    grid-template-columns: repeat(3,1fr);
    column-gap: 3px;
    div {
        background: @Label-Color;
        text-align: center;
        padding: 5px;
        grid-row: 1 / 2;
    }
    div[for="project-name"], #project-name{grid-column: 1 / 2}
    div[for="client-name"], #client-name{grid-column: 2 / 3}
    div[for="partner-name"], #partner-name{grid-column: 3 / 4}
}

&-value{
    display:grid;
    color:@Text-Color;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-area: 5 / 1 / 6 / 10;
    column-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    div {
        background: @Label-Color;
        text-align: center;
        padding: 5px;
        grid-row: 1 / 2;
    }
    div[for="value-hours"], #value-hours{grid-column: 1 / 2;}
    div[for="value-estimated-hours"], #value-estimated-hours{grid-column: 2 / 3;}
    div[for="value-rate"], #value-rate{grid-column: 3 / 4;}
}
&-billing{
    display:grid;
    color:@Text-Color;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-area: 7 / 1 / 8 / 10;
    column-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    div {
        background: @Label-Color;
        grid-row: 1 / 2;
        text-align: center;
        padding: 5px;
    }
    div[for="hours-billing"], #hours-billing{grid-column: 1 / 2}
    div[for="hours-additional-billin"], #hours-additional-billin{ grid-column: 2 / 3}
}
&-executed{
    display:grid;
    color:@Text-Color;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-area: 9 / 1 / 10 / 11;
    column-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    div {
        background: @Label-Color;
        grid-row: 1 / 2;
    }
    div[for="hours-executed"], #hours-executed{grid-column: 1 / 2}
    div[for="rate-executed"], #rate-executed{grid-column: 2 / 3}
}
&-general{
    display:grid;
    align-items: start;
    grid-area: 11 / 1 / 12 / 10;
    grid-template-columns: repeat(2,1fr);
}
// &-value-collected{
//     //background-color: rgb(236, 159, 204);
//     color:black;
//     grid-area: 1 / 1 / 2 / 2;
//     //align-self: baseline;
//     & table{
//         & th{ text-align: center}
//     }}
&-unit-hours{
    //background-color: rgb(62, 146, 135);
    color:black;
    grid-area: 1 / 1 / 2 / 3;
    & table{
    & th{ text-align: center}
}}
}
   .close-project-button{
        .buttonCRUD();
    }

