.input-info-list{
    background: @Container-Color;
    position: absolute;
    width: 100%;
    max-height: 200px;
    padding: 5px;
    border: solid 1px @Shadow-Hover-Color;
    border-radius: 5px;
    top: 110%;
    left: 5px;
    z-index: 7;
    cursor:context-menu;
    overflow: auto;

    //Opciones del dropdown list
    &-options{
        padding: 10px;
        margin-bottom: 10px;
        transition: background 0.3s ease-in-out;
    } 
    &-options:last-child{margin-bottom: 0px;}
    &-options:hover{background: @Shadow-Hover-Color; cursor: pointer;}
}

.input-info-loading{
    position: absolute;
    top: 110%;
    left: 5px;
}