.evaluation-title,
.evaluation-subtitle {
    text-align: center;
    padding: 10px;
}

//Estilos del contenedor padre
.evaluation-form-two {
    display: grid;
    background: @Container-Color;
    width: min(100%, 80rem);
    margin: 20px auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 9rem), 1fr));
    column-gap: 3px;
    //70rem/14rem=5 columnas

    & textarea {
        width: 100%;
        height: 100%;
    }

    //&-departments,
    &-label {
        // display: grid;
        //grid-template-columns: repeat(2, 1fr);
        background-color: @Thead-Color;
        color: @Text-Thead-Color;
        text-align: center;
        padding: 5px;
    }

    //Pertenece a todos los titulos principales de la tabla
    // start row/start column/row end/column end

    //datos del empleado
    #data-activity {
        grid-area: 1/1/2/9
    }

    //  //habilidad analitica q esta vacia
    // #analytical-hability {
    //     grid-area: 6/ 1 / 7 / 9
    // }

    //aspectos generales
    #general-features {
        grid-area: 27/ 1 / 28 / 9
    }

    //comentarios del evaluador
    #comments-evaluator {
        grid-area: 41/ 1 / 42 / 9
    }

    //comentarios del evaluador
    #promotions {
        grid-area: 43/ 1 / 44 / 5
    }

    //comentarios del evaluador
    #approvals {
        grid-area: 43/ 5 / 44 / 9
    }

    // start row/start column/row end/column end
    &-info-left {
        // display: grid;
        // color: @Text-Color;
        // align-items: center;
        // justify-content: center;
        // text-align: center;
        // grid-area: 2 / 1 / 5 / 5;
        // grid-template-columns: repeat(4, 1fr);
        // row-gap: 3px;
        // font-size: 13px;


        div {
            .forDivLabel();
        }

        // div[for="employee-code"] {
        //     grid-row: 1 / 2;
        // }

        // #employee-code {

        //     grid-column: 2 / 5;
        // }

        // div[for="employee-hiring-date"] {
        //     grid-row: 2 / 3;

        // }

        // #employee-hiring-date {
        //     grid-column: 2 / 5
        // }

        // div[for="employee-name"] {
        //     grid-row: 3/4
        // }

        // #employee-name {
        //     grid-column: 2 / 5
        // }

        // div[for="employee-current-position"] {
        //     grid-row: 4/5
        // }

        // #employee-current-position {
        //     grid-column: 2 / 5
        // }

    }

    /// mitad de la derecha
    // start row/column/row/column end
    // &-info-right {
    //     display: grid;
    //     color: @Text-Color;
    //     align-items: center;
    //     justify-content: center;
    //     text-align: center;
    //     // grid-area: 2 / 1 / 5 / 2;
    //     grid-area: 2 / 5 / 5 / 9;
    //     grid-template-columns: repeat(4, 1fr);
    //     row-gap: 3px;
    //     font-size: 13px;

    //     div {
    //         .forDivLabel();
    //     }

    //     div[for="evaluator-code"] {
    //         grid-row: 1 / 2;
    //     }

    //     #evaluator-code {

    //         grid-column: 2 / 5;

    //     }

    //     div[for="evaluator-evaluation-date"] {
    //         grid-row: 2 / 3;
    //     }

    //     #evaluator-evaluation-date {
    //         grid-column: 2 / 5
    //     }

    //     div[for="evaluator-name"] {
    //         grid-row: 3 / 4
    //     }

    //     #evaluator-name {
    //         grid-column: 2 / 5
    //     }

    //     div[for="evaluator-current-position"] {
    //         grid-row: 4 / 5
    //     }

    //     #evaluator-current-position {
    //         grid-column: 2 / 5
    //     }

    // }

    // start row/start column/row end/column end
    &-mid-left {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 7 / 1 / 27 / 9;
        grid-template-columns: repeat(10, 1fr);
        row-gap: 3px;
        column-gap: 3px;
        font-size: 13px;
        overflow-wrap: anywhere;


        // margin-top: -9px;

        div {
            .forDivLabel();

        }

        div[for="mid-client-code"] {
            grid-row: 1 / 2;
            grid-column: 1/2;
        }

        div[for="mid-client-code1"] {
            grid-row: 2 / 3;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code2"] {
            grid-row: 3 / 4;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code3"] {
            grid-row: 4 / 5;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code4"] {
            grid-row: 5 / 6;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code5"] {
            grid-row: 6 / 7;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code6"] {
            grid-row: 7 / 8;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code7"] {
            grid-row: 8 / 9;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code8"] {
            grid-row: 9 / 10;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code9"] {
            grid-row: 10 / 11;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code10"] {
            grid-row: 11 / 12;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code11"] {
            grid-row: 12 / 13;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code12"] {
            grid-row: 13 / 14;
            grid-column: 1/2;
            background: none;
        }


        div[for="mid-order-name"] {
            grid-row: 1 / 2;
            grid-column: 2/4;

        }

        div[for="mid-order-name1"] {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name2"] {
            grid-row: 3 / 4;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name3"] {
            grid-row: 4 / 5;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name4"] {
            grid-row: 5 / 6;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name5"] {
            grid-row: 6 / 7;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name6"] {
            grid-row: 7 / 8;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name7"] {
            grid-row: 8 / 9;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name8"] {
            grid-row: 9 / 10;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name9"] {
            grid-row: 10 / 11;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name10"] {
            grid-row: 11 / 12;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name11"] {
            grid-row: 12 / 13;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name12"] {
            grid-row: 13 / 14;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-director"] {
            grid-row: 1 / 2;
            grid-column: 4 / 6;
        }

        div[for="mid-director1"] {
            grid-row: 2 / 3;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director2"] {
            grid-row: 3 / 4;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director3"] {
            grid-row: 4 / 5;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director4"] {
            grid-row: 5 / 6;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director5"] {
            grid-row: 6 / 7;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director6"] {
            grid-row: 7 / 8;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director7"] {
            grid-row: 8 / 9;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director8"] {
            grid-row: 9 / 10;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director9"] {
            grid-row: 10 / 11;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director10"] {
            grid-row: 11 / 12;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director11"] {
            grid-row: 12 / 13;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director12"] {
            grid-row: 13 / 14;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-hours-loaded"] {
            grid-row: 1 / 2;
            grid-column: 6 / 7;
        }

        div[for="mid-hours-loaded1"] {
            grid-row: 2 / 3;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded2"] {
            grid-row: 3 / 4;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded3"] {
            grid-row: 4 / 5;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded4"] {
            grid-row: 5 / 6;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded5"] {
            grid-row: 6 / 7;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded6"] {
            grid-row: 7 / 8;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded7"] {
            grid-row: 8 / 9;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded8"] {
            grid-row: 9 / 10;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded9"] {
            grid-row: 10 / 11;
            grid-column: 6 / 7;
            background: none;

        }

        div[for="mid-hours-loaded10"] {
            grid-row: 11 / 12;
            grid-column: 6 / 7;
            background: none;

        }

        div[for="mid-hours-loaded11"] {
            grid-row: 12 / 13;
            grid-column: 6 / 7;
            background: none;

        }

        div[for="mid-hours-loaded12"] {
            grid-row: 13 / 14;
            grid-column: 6 / 7;
            background: none;

        }

        div[for="total-hours-loaded"] {
            grid-row: 14 / 16;
            grid-column: 1 / 6;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        div[for="result-hours-loaded"] {
            grid-row: 14 / 16;
            grid-column: 6 / 7;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: none;

        }

        div[for="loadbility-average"] {
            grid-row: 16 / 18;
            grid-column: 1 / 6;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        div[for="result-loadbility-average"] {
            grid-row: 16 / 18;
            grid-column: 6 / 7;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: none;

        }

        div[for="participation-average"] {
            grid-row: 18 / 20;
            grid-column: 1 / 6;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        div[for="result-participation-average"] {
            grid-row: 18 / 20;
            grid-column: 6 / 7;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: none;

        }


        ////////////// RIGHT ACTIVIDADES REALIZADAS

        div[for="activities-done-top"] {
            grid-row: 1 / 2;
            grid-column: 7/11;

        }


        textarea[for="activities-done1"] {
            grid-row: 2 / 3;
            grid-column: 7 / 11;

        }

        textarea[for="activities-done2"] {
            grid-row: 3 / 4;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done3"] {
            grid-row: 4 / 5;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done4"] {
            grid-row: 5 / 6;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done5"] {
            grid-row: 6 / 7;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done6"] {
            grid-row: 7 / 8;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done7"] {
            grid-row: 8 / 9;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done8"] {
            grid-row: 9 / 10;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done9"] {
            grid-row: 10 / 11;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done10"] {
            grid-row: 11 / 12;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done11"] {
            grid-row: 12 / 13;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done12"] {
            grid-row: 13 / 14;
            grid-column: 7 / 11;
        }

        div[for="evaluated-capacitation"] {
            grid-row: 14 / 15;
            grid-column: 7 / 11;
        }

        textarea[for="evaluated-capacitation1"] {
            grid-row: 15 / 16;
            grid-column: 7 / 11;
        }

        textarea[for="evaluated-capacitation2"] {
            grid-row: 16 / 17;
            grid-column: 7 / 11;

        }

        textarea[for="evaluated-capacitation3"] {
            grid-row: 17 / 18;
            grid-column: 7 / 11;
        }

        textarea[for="evaluated-capacitation4"] {
            grid-row: 18 / 19;
            grid-column: 7 / 11;
        }


        textarea[for="evaluated-capacitation5"] {
            grid-row: 19 / 20;
            grid-column: 7 / 11;

        }
    }


    // start row/column/row/column end
    &-general {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: initial;
        grid-area: 28 / 1 / 41 / 9;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="general-features-top1"] {
            grid-row: 1 / 2;
            text-align: initial;

        }


        div[for="general-features-top2"] {
            grid-row: 3 / 4;
            text-align: initial;

        }


        div[for="general-features-top3"] {
            grid-row: 5 / 6;
            text-align: initial;

        }

        div[for="general-features-top4"] {
            grid-row: 7 / 8;
            text-align: initial;

        }

        div[for="general-features-top5"] {
            grid-row: 9 / 10;
            text-align: initial;

        }


        div[for="general-features-top6"] {
            grid-row: 11 / 12;
            text-align: initial;

        }

    }

    // start row/column/row/column end
    &-comments {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 42 / 1 / 43 / 9;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3px;
        font-size: 13px;
    }

    // start row/start column/row end/column end
    &-promotions {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 44 / 1 / 48 / 5;
        grid-template-columns: repeat(4, 1fr);
        // row-gap: 3px;
        // column-gap: 3px;
        font-size: 13px;
        border: 1px solid black;

        div {
            .forDivLabel();
        }

        div[for="last-promotion"] {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            border: 1px solid black;
        }

        div[for="date-promotion"] {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            border: 1px solid black;
        }

        div[for="date-promotion1"] {
            grid-row: 3 / 5;
            grid-column: 1 / 2;
            background: none;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid black;
        }

        div[for="position"] {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            border: 1px solid black;
        }

        div[for="position1"] {
            grid-row: 3 / 5;
            grid-column: 2 / 3;
            background: none;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid black;
        }

        div[for="proposed-promotion"] {
            grid-row: 1 / 2;
            grid-column: 3 / 5;
            border: 1px solid black;
        }

        div[for="proposed-promotion1"] {
            grid-row: 2 / 5;
            grid-column: 3 / 5;
            background: none;
            height: 98px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid black;
        }
    }

    // start row/start column/row end/column end
    &-approvals {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 44 / 5 / 48 / 9;
        grid-template-columns: repeat(4, 1fr);
        border: 1px solid black;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="approvals-evaluator"] {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            border: 1px solid black;
        }

        div[for="approvals-evaluator1"] {
            grid-row: 2 / 5;
            grid-column: 1 / 3;
            background: none;
            height: 98px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid black;
        }

        div[for="approvals-evaluated"] {
            grid-row: 1 / 2;
            grid-column: 3 / 5;
            border: 1px solid black;
        }

        div[for="approvals-evaluated1"] {
            grid-row: 2 / 5;
            grid-column: 3 / 5;
            background: none;
            height: 98px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid black;
        }



    }
}