.evaluation-title,
.evaluation-subtitle {
    text-align: center;
    padding: 10px;
}

//Estilos del contenedor padre
.evaluation-form {
    display: grid;
    background: @Container-Color;
    width: min(100%, 75rem);
    margin: 20px auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 9rem), 1fr));
    column-gap: 3px;
    overflow-wrap: anywhere;

    //70rem/14rem=5 columnas

    //&-departments,
    &-label {
        background-color: @Thead-Color;
        color: @Text-Thead-Color;
        text-align: center;
        padding: 5px;
    }

    //Titulos principales de la tabla (LABEL)
    //datos del empleado
    #data-employee {
        grid-area: 1/1/2/5
    }

    //datos del evaluador
    #data-evaluator {
        grid-area: 1/5/2/9
    }

    //habilidad analitica
    #analytical-hability {
        grid-area: 6/ 1 / 7 / 5
    }

    //AUTOEVALUACION
    #analytical-autoevaluation {
        grid-area: 6/ 5 / 7 / 6
    }

    //evaluador
    #analytical-evaluator {
        grid-area: 6/ 6 / 7 / 7
    }

    //obseevaciones
    #analytical-observations {
        grid-area: 6/ 7 / 7 / 9
    }

    // conocimientos Tecnicos
    #technical-knowledge {
        grid-area: 15/ 1 / 16 / 5
    }

    // conocimientos Tecnicos autoevaluacion
    #technical-knowledge-autoevaluation {
        grid-area: 15/ 5 / 16 / 6
    }

    // conocimientos Tecnicos evaluador
    #technical-knowledge-evaluator {
        grid-area: 15/ 6 / 16 / 7
    }

    // conocimientos Tecnicos observaciones
    #technical-knowledge-observations {
        grid-area: 15/ 7 / 16 / 9
    }

    // Papeles de trabajo
    #paper-work {
        grid-area: 25/ 1 / 26 / 5
    }

    // Papeles de trabajo autoevaluacion
    #paper-work-autoevaluation {
        grid-area: 25/ 5 / 26 / 6
    }

    // Papeles de trabajo evaluador
    #paper-work-evaluator {
        grid-area: 25/ 6 / 26 / 7
    }

    // Papeles de trabajo observaciones
    #paper-work-observations {
        grid-area: 25/ 7 / 26 / 9
    }

    // Responsabilidad y Productividad
    #responsibility-productivity {
        grid-area: 33/ 1 / 34 / 5
    }

    // Responsabilidad y Productividad autoevaluacion
    #responsibility-productivity-autoevaluation {
        grid-area: 33/ 5 / 34 / 6
    }

    // Responsabilidad y Productividad evaluador
    #responsibility-productivity-evaluator {
        grid-area: 33/ 6 / 34 / 7
    }

    // Responsabilidad y Productividad observaciones
    #responsibility-productivity-observations {
        grid-area: 33/ 7 / 34 / 9
    }

    //Atencion al cliente
    #customer-support {
        grid-area: 41/ 1 / 42 / 5
    }

    // Atencion al cliente autoevaluacion
    #customer-support-autoevaluation {
        grid-area: 41/ 5 / 42 / 6
    }

    // Atencion al cliente evaluador
    #customer-support-evaluator {
        grid-area: 41/ 6 / 42 / 7
    }

    // Atencion al cliente observaciones
    #customer-support-observations {
        grid-area: 41/ 7 / 42 / 9
    }

    //Personalidad
    #personality {
        grid-area: 47/ 1 / 48 / 5
    }

    // Personalidad autoevaluacion
    #personality-autoevaluation {
        grid-area: 47/ 5 / 48 / 6
    }

    // Personalidad evaluador
    #personality-evaluator {
        grid-area: 47/ 6 / 48 / 7
    }


    // Personalidad observaciones
    #personality-observations {
        grid-area: 47/ 7 / 48 / 9
    }

    // Total
    #total-autoevaluation {
        grid-area: 57/ 5 / 58 / 6
    }

    //datos del empleado
    #data-activity {
        grid-area: 60/1/61/9;
        margin-top: 25px;
    }

    //aspectos generales
    #general-features {
        grid-area: 82/ 1 / 83 / 9
    }

    //comentarios del evaluador
    #comments-evaluator {
        grid-area: 96/ 1 / 97 / 9
    }

    //comentarios del evaluador
    #promotions {
        grid-area: 98/ 1 / 99 / 5
    }

    //comentarios del evaluador
    #approvals {
        grid-area: 98/ 5 / 99 / 9
    }

    // start row/start column/row end/column end

    &-info-left {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 2 / 1 / 5 / 5;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="employee-code"] {
            grid-row: 1 / 2;
        }

        #employee-code {

            grid-column: 2 / 5;
        }

        div[for="employee-hiring-date"] {
            grid-row: 2 / 3;

        }

        #employee-hiring-date {
            grid-column: 2 / 5
        }

        div[for="employee-name"] {
            grid-row: 3/4
        }

        #employee-name {
            grid-column: 2 / 5
        }

        div[for="employee-current-position"] {
            grid-row: 4/5
        }

        #employee-current-position {
            grid-column: 2 / 5
        }
    }

    //mitad de la derecha start row/column/row/column end
    &-info-right {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        // grid-area: 2 / 1 / 5 / 2;
        grid-area: 2 / 5 / 5 / 9;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3px;
        font-size: 13px;


        div {
            .forDivLabel();
        }

        div[for="evaluator-code"] {
            grid-row: 1 / 2;
        }

        #evaluator-code {

            grid-column: 2 / 5;
        }

        div[for="evaluator-evaluation-date"] {
            grid-row: 2 / 3;
        }

        #evaluator-evaluation-date {
            grid-column: 2 / 5
        }

        div[for="evaluator-name"] {
            grid-row: 3 / 4
        }

        #evaluator-name {
            grid-column: 2 / 5
        }

        div[for="evaluator-current-position"] {
            grid-row: 4 / 5
        }

        #evaluator-current-position {
            grid-column: 2 / 5
        }

    }

    // start row/start column/row end/column end
    //////////////////////////////////////////// informacion de la tabla habilidad analitica
    &-hability {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: initial;
        grid-area: 7 / 1 / 15 / 9;
        grid-template-columns: repeat(14, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="hability-question1"] {
            grid-row: 1 / 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #hability-question1 {

            grid-column: 2 / 9;

        }

        div[for="hability-question2"] {
            grid-row: 2 / 3;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #hability-question2 {

            grid-column: 2 / 9;
        }

        div[for="hability-question3"] {
            grid-row: 3 / 4;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #hability-question3 {

            grid-column: 2 / 9;
        }

        div[for="hability-question4"] {
            grid-row: 4 / 5;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #hability-question4 {

            grid-column: 2 / 9;
        }

        div[for="hability-question5"] {
            grid-row: 5 / 6;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #hability-question5 {

            grid-column: 2 / 9;
        }

        div[for="hability-question6"] {
            grid-row: 6 / 7;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #hability-question6 {

            grid-column: 2 / 9;
        }

        div[for="hability-question7"] {
            grid-row: 7 / 8;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #hability-question7 {

            grid-column: 2 / 9;
        }

        div[for="hability-final"] {
            grid-row: 8 / 9;
            grid-column: 1 / 9;
            text-align: end;
        }

        /////// informacion de la tabla habilidad analitica autoevaluacion
        input[for="hability-autoevaluation-question1"] {
            grid-row: 1 / 2;
            grid-column: 9 / 11;
        }

        input[for="hability-autoevaluation-question2"] {
            grid-row: 2 / 3;
            grid-column: 9 / 11;
        }

        input[for="hability-autoevaluation-question3"] {
            grid-row: 3 / 4;
            grid-column: 9 / 11;
        }

        input[for="hability-autoevaluation-question4"] {
            grid-row: 4 / 5;
            grid-column: 9 / 11;
        }

        input[for="hability-autoevaluation-question5"] {
            grid-row: 5 / 6;
            grid-column: 9 / 11;
        }

        input[for="hability-autoevaluation-question6"] {
            grid-row: 6 / 7;
            grid-column: 9 / 11;
        }

        input[for="hability-autoevaluation-question7"] {
            grid-row: 7 / 8;
            grid-column: 9 / 11;
        }

        div[for="hability-autoevaluation-final"] {
            grid-row: 8 / 9;
            grid-column: 9 / 11;
        }

        /////// informacion de la tabla habilidad analitica evaluator

        input[for="hability-evaluator-question1"] {
            grid-row: 1 / 2;
            grid-column: 11 / 13;
        }

        input[for="hability-evaluator-question2"] {
            grid-row: 2 / 3;
            grid-column: 11 / 13;
        }

        input[for="hability-evaluator-question3"] {
            grid-row: 3 / 4;
            grid-column: 11 / 13;
        }

        input[for="hability-evaluator-question4"] {
            grid-row: 4 / 5;
            grid-column: 11 / 13;
        }

        input[for="hability-evaluator-question5"] {
            grid-row: 5 / 6;
            grid-column: 11 / 13;
        }

        input[for="hability-evaluator-question6"] {
            grid-row: 6 / 7;
            grid-column: 11 / 13;
        }

        input[for="hability-evaluator-question7"] {
            grid-row: 7 / 8;
            grid-column: 11 / 13;
        }

        div[for="hability-evaluator-final"] {
            grid-row: 8 / 9;
            grid-column: 11 / 13;
            // color: #d1d7dd;
        }

        // informacion de la tabla habilidad analitica
        textarea[for="hability-observation-question1"] {
            grid-row: 1 / 2;
            grid-column: 13 / 15;
        }

        textarea[for="hability-observation-question2"] {
            grid-row: 2 / 3;
            grid-column: 13 / 15;
        }

        textarea[for="hability-observation-question3"] {
            grid-row: 3 / 4;
            grid-column: 13 / 15;
        }

        textarea[for="hability-observation-question4"] {
            grid-row: 4 / 5;
            grid-column: 13 / 15;
        }

        textarea[for="hability-observation-question5"] {
            grid-row: 5 / 6;
            grid-column: 13 / 15;
        }

        textarea[for="hability-observation-question6"] {
            grid-row: 6 / 7;
            grid-column: 13 / 15;
        }

        textarea[for="hability-observation-question7"] {
            grid-row: 7 / 8;
            grid-column: 13 / 15;
        }

        div[for="hability-observation-final"] {
            grid-row: 8 / 9;
            grid-column: 13 / 15;
            background-color: rgb(88, 88, 88);
            color: #585858;
        }
    }

    // start row/start column/row end/column end
    //////////////////////////// informacion de la tabla conocimiento tecnico
    &-knowledge {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: initial;
        grid-area: 16 / 1 / 25 / 9;
        grid-template-columns: repeat(14, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="knowledge-question1"] {
            grid-row: 1 / 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #knowledge-question1 {

            grid-column: 2 / 9;

        }

        div[for="knowledge-question2"] {
            grid-row: 2 / 3;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #knowledge-question2 {

            grid-column: 2 / 9;
        }

        div[for="knowledge-question3"] {
            grid-row: 3 / 4;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #knowledge-question3 {

            grid-column: 2 / 9;
        }

        div[for="knowledge-question4"] {
            grid-row: 4 / 5;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #knowledge-question4 {

            grid-column: 2 / 9;
        }

        div[for="knowledge-question5"] {
            grid-row: 5 / 6;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #knowledge-question5 {
            grid-column: 2 / 9;
        }

        div[for="knowledge-question6"] {
            grid-row: 6 / 7;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #knowledge-question6 {

            grid-column: 2 / 9;
        }

        div[for="knowledge-question7"] {
            grid-row: 7 / 8;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #knowledge-question7 {

            grid-column: 2 / 9;
        }

        div[for="knowledge-question8"] {
            grid-row: 8 / 9;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #knowledge-question8 {

            grid-column: 2 / 9;
        }

        div[for="knowledge-final"] {
            grid-row: 9 / 10;
            grid-column: 1 / 9;
            text-align: end;
        }

        // informacion de la tabla conocimientos tecnicos autoevaluacion
        input[for="knowledge-autoevaluation-question1"] {
            grid-row: 1 / 2;
            grid-column: 9 / 11;

        }

        input[for="knowledge-autoevaluation-question2"] {
            grid-row: 2 / 3;
            grid-column: 9 / 11;
        }

        input[for="knowledge-autoevaluation-question3"] {
            grid-row: 3 / 4;
            grid-column: 9 / 11;
        }

        input[for="knowledge-autoevaluation-question4"] {
            grid-row: 4 / 5;
            grid-column: 9 / 11;
        }

        input[for="knowledge-autoevaluation-question5"] {
            grid-row: 5 / 6;
            grid-column: 9 / 11;
        }

        input[for="knowledge-autoevaluation-question6"] {
            grid-row: 6 / 7;
            grid-column: 9 / 11;
        }

        input[for="knowledge-autoevaluation-question7"] {
            grid-row: 7 / 8;
            grid-column: 9 / 11;
        }

        input[for="knowledge-autoevaluation-question8"] {
            grid-row: 8 / 9;
            grid-column: 9 / 11;
        }

        div[for="knowledge-autoevaluation-final"] {
            grid-row: 9 / 10;
            grid-column: 9 / 11;
        }

        // informacion de la tabla conocimientos tecnicos evaluador
        input[for="knowledge-evaluator-question1"] {
            grid-row: 1 / 2;
            grid-column: 11 / 13;
        }

        input[for="knowledge-evaluator-question2"] {
            grid-row: 2 / 3;
            grid-column: 11 / 13;
        }

        input[for="knowledge-evaluator-question3"] {
            grid-row: 3 / 4;
            grid-column: 11 / 13;
        }

        input[for="knowledge-evaluator-question4"] {
            grid-row: 4 / 5;
            grid-column: 11 / 13;
        }

        input[for="knowledge-evaluator-question5"] {
            grid-row: 5 / 6;
            grid-column: 11 / 13;
        }

        input[for="knowledge-evaluator-question6"] {
            grid-row: 6 / 7;
            grid-column: 11 / 13;
        }

        input[for="knowledge-evaluator-question7"] {
            grid-row: 7 / 8;
            grid-column: 11 / 13;
        }

        input[for="knowledge-evaluator-question8"] {
            grid-row: 8 / 9;
            grid-column: 11 / 13;
        }

        div[for="knowledge-evaluator-final"] {
            grid-row: 9 / 10;
            grid-column: 11 / 13;
            // color: #d1d7dd;
        }

        // informacion de la tabla conocimientos tecnicos observaciones
        textarea[for="knowledge-observation-question1"] {
            grid-row: 1 / 2;
            grid-column: 13 / 15;

        }

        textarea[for="knowledge-observation-question2"] {
            grid-row: 2 / 3;
            grid-column: 13 / 15;
        }

        textarea[for="knowledge-observation-question3"] {
            grid-row: 3 / 4;
            grid-column: 13 / 15;
        }

        textarea[for="knowledge-observation-question4"] {
            grid-row: 4 / 5;
            grid-column: 13 / 15;
        }

        textarea[for="knowledge-observation-question5"] {
            grid-row: 5 / 6;
            grid-column: 13 / 15;
        }

        textarea[for="knowledge-observation-question6"] {
            grid-row: 6 / 7;
            grid-column: 13 / 15;
        }

        textarea[for="knowledge-observation-question7"] {
            grid-row: 7 / 8;
            grid-column: 13 / 15;
        }

        textarea[for="knowledge-observation-question8"] {
            grid-row: 8 / 9;
            grid-column: 13 / 15;
        }

        div[for="knowledge-observation-final"] {
            grid-row: 9 / 10;
            grid-column: 13 / 15;
            background-color: rgb(88, 88, 88);
            color: #585858;
        }
    }

    // start row/start column/row end/column end
    //////////////////////////// informacion de la tabla papel y trabajo
    &-paper {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: initial;
        grid-area: 26 / 1 / 33 / 9;
        grid-template-columns: repeat(14, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="paper-question1"] {
            grid-row: 1 / 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #paper-question1 {

            grid-column: 2 / 9;

        }

        div[for="paper-question2"] {
            grid-row: 2 / 3;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #paper-question2 {

            grid-column: 2 / 9;

        }

        div[for="paper-question3"] {
            grid-row: 3 / 4;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #paper-question3 {

            grid-column: 2 / 9;

        }

        div[for="paper-question4"] {
            grid-row: 4 / 5;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #paper-question4 {

            grid-column: 2 / 9;

        }

        div[for="paper-question5"] {
            grid-row: 5 / 6;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #paper-question5 {

            grid-column: 2 / 9;

        }

        div[for="paper-question6"] {
            grid-row: 6 / 7;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #paper-question6 {

            grid-column: 2 / 9;

        }

        div[for="paper-final"] {
            grid-row: 7 / 8;
            grid-column: 1 / 9;
            text-align: end;
            color: @Text-Color;

        }

        // informacion de la tabla papel y trabajo autoevaluacion

        input[for="paper-autoevaluation-question1"] {
            grid-row: 1 / 2;
            grid-column: 9 / 11;
        }

        input[for="paper-autoevaluation-question2"] {
            grid-row: 2 / 3;
            grid-column: 9 / 11;
        }

        input[for="paper-autoevaluation-question3"] {
            grid-row: 3 / 4;
            grid-column: 9 / 11;
        }

        input[for="paper-autoevaluation-question4"] {
            grid-row: 4 / 5;
            grid-column: 9 / 11;
        }

        input[for="paper-autoevaluation-question5"] {
            grid-row: 5 / 6;
            grid-column: 9 / 11;
        }

        input[for="paper-autoevaluation-question6"] {
            grid-row: 6 / 7;
            grid-column: 9 / 11;
        }

        div[for="paper-autoevaluation-final"] {
            grid-row: 7 / 8;
            grid-column: 9 / 11;
        }

        // informacion de la tabla tabla papel y trabajo evaluador

        input[for="paper-evaluator-question1"] {
            grid-row: 1 / 2;
            grid-column: 11 / 13;
        }

        input[for="paper-evaluator-question2"] {
            grid-row: 2 / 3;
            grid-column: 11 / 13;
        }

        input[for="paper-evaluator-question3"] {
            grid-row: 3 / 4;
            grid-column: 11 / 13;
        }

        input[for="paper-evaluator-question4"] {
            grid-row: 4 / 5;
            grid-column: 11 / 13;
        }

        input[for="paper-evaluator-question5"] {
            grid-row: 5 / 6;
            grid-column: 11 / 13;
        }

        input[for="paper-evaluator-question6"] {
            grid-row: 6 / 7;
            grid-column: 11 / 13;
        }

        div[for="paper-evaluator-final"] {
            grid-row: 7 / 8;
            grid-column: 11 / 13;
            color: black;
        }

        // informacion de la tabla papeles de trabajo observaciones
        textarea[for="paper-observation-question1"] {
            grid-row: 1 / 2;
            grid-column: 13 / 15;
        }

        textarea[for="paper-observation-question2"] {
            grid-row: 2 / 3;
            grid-column: 13 / 15;
        }

        textarea[for="paper-observation-question3"] {
            grid-row: 3 / 4;
            grid-column: 13 / 15;
        }

        textarea[for="paper-observation-question4"] {
            grid-row: 4 / 5;
            grid-column: 13 / 15;
        }

        textarea[for="paper-observation-question5"] {
            grid-row: 5 / 6;
            grid-column: 13 / 15;
        }

        textarea[for="paper-observation-question6"] {
            grid-row: 6 / 7;
            grid-column: 13 / 15;
        }

        div[for="paper-observation-final"] {
            grid-row: 7 / 8;
            grid-column: 13 / 15;
            background-color: rgb(88, 88, 88);
            color: #585858;
        }
    }

    // start row/start column/row end/column end
    //////////////////////////// informacion de la tabla Responsabilidad y Productividad
    &-responsibility {
        display: grid;
        color: @Text-Color;
        align-items: initial;
        justify-content: center;
        grid-area: 34 / 1 / 41 / 9;
        text-align: initial;
        grid-template-columns: repeat(14, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="responsibility-question1"] {
            grid-row: 1 / 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #responsibility-question1 {

            grid-column: 2 / 9;

        }

        div[for="responsibility-question2"] {
            grid-row: 2 / 3;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #responsibility-question2 {

            grid-column: 2 / 9;
        }

        div[for="responsibility-question3"] {
            grid-row: 3 / 4;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #responsibility-question3 {

            grid-column: 2 / 9;
        }

        div[for="responsibility-question4"] {
            grid-row: 4 / 5;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #responsibility-question4 {

            grid-column: 2 / 9;
        }

        div[for="responsibility-question5"] {
            grid-row: 5 / 6;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #responsibility-question5 {

            grid-column: 2 / 9;
        }

        div[for="responsibility-question6"] {
            grid-row: 6 / 7;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #responsibility-question6 {

            grid-column: 2 / 9;
        }


        div[for="responsibility-final"] {
            grid-row: 7 / 8;
            grid-column: 1 / 9;
            text-align: end;
        }

        // informacion de la tabla Responsabilidad y Productividad autoevaluacion
        input[for="responsibility-autoevaluation-question1"] {
            grid-row: 1 / 2;
            grid-column: 9 / 11;
        }

        input[for="responsibility-autoevaluation-question2"] {
            grid-row: 2 / 3;
            grid-column: 9 / 11;
        }

        input[for="responsibility-autoevaluation-question3"] {
            grid-row: 3 / 4;
            grid-column: 9 / 11;
        }

        input[for="responsibility-autoevaluation-question4"] {
            grid-row: 4 / 5;
            grid-column: 9 / 11;
        }

        input[for="responsibility-autoevaluation-question5"] {
            grid-row: 5 / 6;
            grid-column: 9 / 11;
        }

        input[for="responsibility-autoevaluation-question6"] {
            grid-row: 6 / 7;
            grid-column: 9 / 11;
        }

        div[for="responsibility-autoevaluation-final"] {
            grid-row: 7 / 8;
            grid-column: 9 / 11;
        }

        // informacion de la tabla Responsabilidad y Productividad evaluador

        input[for="responsibility-evaluator-question1"] {
            grid-row: 1 / 2;
            grid-column: 11 / 13;

        }

        input[for="responsibility-evaluator-question2"] {
            grid-row: 2 / 3;
            grid-column: 11 / 13;

        }

        input[for="responsibility-evaluator-question3"] {
            grid-row: 3 / 4;
            grid-column: 11 / 13;

        }

        input[for="responsibility-evaluator-question4"] {
            grid-row: 4 / 5;
            grid-column: 11 / 13;

        }

        input[for="responsibility-evaluator-question5"] {
            grid-row: 5 / 6;
            grid-column: 11 / 13;

        }

        input[for="responsibility-evaluator-question6"] {
            grid-row: 6 / 7;
            grid-column: 11 / 13;

        }

        div[for="responsibility-evaluator-final"] {
            grid-row: 7 / 8;
            grid-column: 11 / 13;
            // color: #d1d7dd;
        }

        // informacion de la tabla Responsabilidad y Productividad observaciones
        textarea[for="responsibility-observation-question1"] {
            grid-row: 1 / 2;
            grid-column: 13 / 15;

        }

        textarea[for="responsibility-observation-question2"] {
            grid-row: 2 / 3;
            grid-column: 13 / 15;
        }

        textarea[for="responsibility-observation-question3"] {
            grid-row: 3 / 4;
            grid-column: 13 / 15;
        }

        textarea[for="responsibility-observation-question4"] {
            grid-row: 4 / 5;
            grid-column: 13 / 15;
        }

        textarea[for="responsibility-observation-question5"] {
            grid-row: 5 / 6;
            grid-column: 13 / 15;
        }

        textarea[for="responsibility-observation-question6"] {
            grid-row: 6 / 7;
            grid-column: 13 / 15;
        }

        div[for="responsibility-observation-final"] {
            grid-row: 7 / 8;
            grid-column: 13 / 15;
            background-color: rgb(88, 88, 88);
            color: #585858;
        }
    }

    // start row/start column/row end/column end
    //////////////////////////// informacion de la tabla Atencion al cliente
    &-support {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: initial;
        grid-area: 42 / 1 / 47 / 9;
        grid-template-columns: repeat(14, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="support-question1"] {
            grid-row: 1 / 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #support-question1 {

            grid-column: 2 / 9;

        }

        div[for="support-question2"] {
            grid-row: 2 / 3;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #support-question2 {

            grid-column: 2 / 9;
        }

        div[for="support-question3"] {
            grid-row: 3 / 4;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #support-question3 {

            grid-column: 2 / 9;
        }

        div[for="support-question4"] {
            grid-row: 4 / 5;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #support-question4 {

            grid-column: 2 / 9;
        }



        div[for="support-final"] {
            grid-row: 5 / 6;
            grid-column: 1 / 9;
            text-align: end;
        }

        // // informacion de la tabla Atencion al cliente autoevaluacion
        input[for="support-autoevaluation-question1"] {
            grid-row: 1 / 2;
            grid-column: 9 / 11;
        }

        input[for="support-autoevaluation-question2"] {
            grid-row: 2 / 3;
            grid-column: 9 / 11;
        }

        input[for="support-autoevaluation-question3"] {
            grid-row: 3 / 4;
            grid-column: 9 / 11;
        }

        input[for="support-autoevaluation-question4"] {
            grid-row: 4 / 5;
            grid-column: 9 / 11;
        }

        div[for="support-autoevaluation-final"] {
            grid-row: 5 / 6;
            grid-column: 9 / 11;
        }

        // informacion de la tabla Atencion al cliente evaluador

        input[for="support-evaluator-question1"] {
            grid-row: 1 / 2;
            grid-column: 11 / 13;

        }

        input[for="support-evaluator-question2"] {
            grid-row: 2 / 3;
            grid-column: 11 / 13;
        }

        input[for="support-evaluator-question3"] {
            grid-row: 3 / 4;
            grid-column: 11 / 13;
        }

        input[for="support-evaluator-question4"] {
            grid-row: 4 / 5;
            grid-column: 11 / 13;
        }

        div[for="support-evaluator-final"] {
            grid-row: 5 / 6;
            grid-column: 11 / 13;
            // color: #d1d7dd;
        }

        // informacion de la tabla Atencion al cliente observaciones
        textarea[for="support-observation-question1"] {
            grid-row: 1 / 2;
            grid-column: 13 / 15;
        }

        textarea[for="support-observation-question2"] {
            grid-row: 2 / 3;
            grid-column: 13 / 15;
        }

        textarea[for="support-observation-question3"] {
            grid-row: 3 / 4;
            grid-column: 13 / 15;
        }

        textarea[for="support-observation-question4"] {
            grid-row: 4 / 5;
            grid-column: 13 / 15;

        }


        div[for="support-observation-final"] {
            grid-row: 5 / 6;
            grid-column: 13 / 15;
            background-color: rgb(88, 88, 88);
            color: #585858;
        }

    }

    // start row/start column/row end/column end
    //////////////////////////// informacion de la tabla Personalidad
    &-personality {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: initial;
        grid-area: 48 / 1 / 57 / 9;
        grid-template-columns: repeat(14, 1fr);
        row-gap: 3px;
        font-size: 13px;



        div {
            .forDivLabel();
        }

        div[for="personality-question1"] {
            grid-row: 1 / 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #personality-question1 {

            grid-column: 2 / 9;

        }

        div[for="personality-question2"] {
            grid-row: 2 / 3;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #personality-question2 {

            grid-column: 2 / 9;
        }

        div[for="personality-question3"] {
            grid-row: 3 / 4;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #personality-question3 {

            grid-column: 2 / 9;
        }

        div[for="personality-question4"] {
            grid-row: 4 / 5;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #personality-question4 {

            grid-column: 2 / 9;
        }

        div[for="personality-question5"] {
            grid-row: 5 / 6;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #personality-question5 {

            grid-column: 2 / 9;
        }

        div[for="personality-question6"] {
            grid-row: 6 / 7;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #personality-question6 {

            grid-column: 2 / 9;
        }

        div[for="personality-question7"] {
            grid-row: 7 / 8;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #personality-question7 {

            grid-column: 2 / 9;
        }

        div[for="personality-question8"] {
            grid-row: 8 / 9;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        #personality-question8 {

            grid-column: 2 / 9;
        }

        div[for="personality-final"] {
            grid-row: 9 / 10;
            grid-column: 1 / 9;
            text-align: end;
        }

        // // informacion de la tabla Personalidad autoevaluacion
        input[for="personality-autoevaluation-question1"] {
            grid-row: 1 / 2;
            grid-column: 9 / 11;
        }

        input[for="personality-autoevaluation-question2"] {
            grid-row: 2 / 3;
            grid-column: 9 / 11;
        }

        input[for="personality-autoevaluation-question3"] {
            grid-row: 3 / 4;
            grid-column: 9 / 11;
        }

        input[for="personality-autoevaluation-question4"] {
            grid-row: 4 / 5;
            grid-column: 9 / 11;
        }

        input[for="personality-autoevaluation-question5"] {
            grid-row: 5 / 6;
            grid-column: 9 / 11;
        }

        input[for="personality-autoevaluation-question6"] {
            grid-row: 6 / 7;
            grid-column: 9 / 11;
        }

        input[for="personality-autoevaluation-question7"] {
            grid-row: 7 / 8;
            grid-column: 9 / 11;
        }

        input[for="personality-autoevaluation-question8"] {
            grid-row: 8 / 9;
            grid-column: 9 / 11;
        }



        div[for="personality-autoevaluation-final"] {
            grid-row: 9 / 10;
            grid-column: 9 / 11;
        }

        // informacion de la tabla Personalidad evaluador
        input[for="personality-evaluator-question1"] {
            grid-row: 1 / 2;
            grid-column: 11 / 13;
        }

        input[for="personality-evaluator-question2"] {
            grid-row: 2 / 3;
            grid-column: 11 / 13;
        }

        input[for="personality-evaluator-question3"] {
            grid-row: 3 / 4;
            grid-column: 11 / 13;
        }

        input[for="personality-evaluator-question4"] {
            grid-row: 4 / 5;
            grid-column: 11 / 13;
        }

        input[for="personality-evaluator-question5"] {
            grid-row: 5 / 6;
            grid-column: 11 / 13;
        }

        input[for="personality-evaluator-question6"] {
            grid-row: 6 / 7;
            grid-column: 11 / 13;
        }

        input[for="personality-evaluator-question7"] {
            grid-row: 7 / 8;
            grid-column: 11 / 13;
        }

        input[for="personality-evaluator-question8"] {
            grid-row: 8 / 9;
            grid-column: 11 / 13;
        }

        div[for="personality-evaluator-final"] {
            grid-row: 9 / 10;
            grid-column: 11 / 13;
            // color: #d1d7dd;
        }

        // informacion de la tabla Personalidad observaciones

        textarea[for="personality-observation-question1"] {
            grid-row: 1 / 2;
            grid-column: 13 / 15;
        }

        textarea[for="personality-observation-question2"] {
            grid-row: 2 / 3;
            grid-column: 13 / 15;
        }

        textarea[for="personality-observation-question3"] {
            grid-row: 3 / 4;
            grid-column: 13 / 15;
        }

        textarea[for="personality-observation-question4"] {
            grid-row: 4 / 5;
            grid-column: 13 / 15;
        }

        textarea[for="personality-observation-question5"] {
            grid-row: 5 / 6;
            grid-column: 13 / 15;
        }

        textarea[for="personality-observation-question6"] {
            grid-row: 6 / 7;
            grid-column: 13 / 15;
        }

        textarea[for="personality-observation-question7"] {
            grid-row: 7 / 8;
            grid-column: 13 / 15;
        }

        textarea[for="personality-observation-question8"] {
            grid-row: 8 / 9;
            grid-column: 13 / 15;
        }


        div[for="personality-observation-final"] {
            grid-row: 9 / 10;
            grid-column: 13 / 15;
            background-color: rgb(88, 88, 88);
            color: #585858;
        }
    }


    // start row/start column/row end/column end
    //////////////////////////// informacion de la tabla total
    &-total {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 57 / 1 / 59 / 5;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="total-final"] {
            grid-area: 1/1/3/2;
            text-align: end;
            height: 65px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }


    }

    // // start row/start column/row end/column end
    // // informacion de la tabla total autoevaluacion
    &-total-autoevaluation {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 58 / 5 / 59 / 6;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="total-autoevaluation-final"] {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }

    }

    // // start row/start column/row end/column end
    // // informacion de la tabla total evaluador
    &-total-evaluator {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 58 / 6 / 59 / 7;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="total-evaluator-final"] {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }

    }

    // start row/start column/row end/column end
    // informacion de la tabla Total observaciones
    &-total-observation {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 57 / 7 / 59 / 9;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="total-observation-final-1"] {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            background-color: rgb(88, 88, 88);
            color: #585858;
        }

        div[for="total-observation-final-2"] {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            background-color: rgb(88, 88, 88);
            color: #585858;
        }

    }

    /// Encabezado de la mitad
    // start row/column start/row end/column end
    .instructions-mid-header {
        display: flex;
        color: @Text-Color;
        justify-content: space-evenly;
        grid-area: 5 / 1 / 5 / 9;
        margin-top: 12px;
        font-weight: bold;
        // grid-template-columns: repeat(4, 1fr);

        #data-mid-header_1 {
            color: black
        }

        #data-mid-header_2 {
            color: red
        }

        #data-mid-header_3 {
            color: green
        }

        #data-mid-header_4 {
            color: blue
        }

        #data-mid-header_5 {
            color: rebeccapurple;
        }
    }

    &-mid-left {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 62 / 1 / 82 / 9;
        grid-template-columns: repeat(10, 1fr);
        row-gap: 3px;
        column-gap: 3px;
        font-size: 13px;
        overflow-wrap: anywhere;


        // margin-top: -9px;

        div {
            .forDivLabel();

        }

        div[for="mid-client-code"] {
            grid-row: 1 / 2;
            grid-column: 1/2;
        }

        div[for="mid-client-code1"] {
            grid-row: 2 / 3;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code2"] {
            grid-row: 3 / 4;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code3"] {
            grid-row: 4 / 5;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code4"] {
            grid-row: 5 / 6;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code5"] {
            grid-row: 6 / 7;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code6"] {
            grid-row: 7 / 8;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code7"] {
            grid-row: 8 / 9;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code8"] {
            grid-row: 9 / 10;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code9"] {
            grid-row: 10 / 11;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code10"] {
            grid-row: 11 / 12;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code11"] {
            grid-row: 12 / 13;
            grid-column: 1/2;
            background: none;
        }

        div[for="mid-client-code12"] {
            grid-row: 13 / 14;
            grid-column: 1/2;
            background: none;
        }


        div[for="mid-order-name"] {
            grid-row: 1 / 2;
            grid-column: 2/4;

        }

        div[for="mid-order-name1"] {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name2"] {
            grid-row: 3 / 4;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name3"] {
            grid-row: 4 / 5;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name4"] {
            grid-row: 5 / 6;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name5"] {
            grid-row: 6 / 7;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name6"] {
            grid-row: 7 / 8;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name7"] {
            grid-row: 8 / 9;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name8"] {
            grid-row: 9 / 10;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name9"] {
            grid-row: 10 / 11;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name10"] {
            grid-row: 11 / 12;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name11"] {
            grid-row: 12 / 13;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-order-name12"] {
            grid-row: 13 / 14;
            grid-column: 2 / 4;
            background: none;

        }

        div[for="mid-director"] {
            grid-row: 1 / 2;
            grid-column: 4 / 6;
        }

        div[for="mid-director1"] {
            grid-row: 2 / 3;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director2"] {
            grid-row: 3 / 4;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director3"] {
            grid-row: 4 / 5;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director4"] {
            grid-row: 5 / 6;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director5"] {
            grid-row: 6 / 7;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director6"] {
            grid-row: 7 / 8;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director7"] {
            grid-row: 8 / 9;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director8"] {
            grid-row: 9 / 10;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director9"] {
            grid-row: 10 / 11;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director10"] {
            grid-row: 11 / 12;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director11"] {
            grid-row: 12 / 13;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-director12"] {
            grid-row: 13 / 14;
            grid-column: 4 / 6;
            background: none;
        }

        div[for="mid-hours-loaded"] {
            grid-row: 1 / 2;
            grid-column: 6 / 7;
        }

        div[for="mid-hours-loaded1"] {
            grid-row: 2 / 3;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded2"] {
            grid-row: 3 / 4;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded3"] {
            grid-row: 4 / 5;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded4"] {
            grid-row: 5 / 6;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded5"] {
            grid-row: 6 / 7;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded6"] {
            grid-row: 7 / 8;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded7"] {
            grid-row: 8 / 9;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded8"] {
            grid-row: 9 / 10;
            grid-column: 6 / 7;
            background: none;
        }

        div[for="mid-hours-loaded9"] {
            grid-row: 10 / 11;
            grid-column: 6 / 7;
            background: none;

        }

        div[for="mid-hours-loaded10"] {
            grid-row: 11 / 12;
            grid-column: 6 / 7;
            background: none;

        }

        div[for="mid-hours-loaded11"] {
            grid-row: 12 / 13;
            grid-column: 6 / 7;
            background: none;

        }

        div[for="mid-hours-loaded12"] {
            grid-row: 13 / 14;
            grid-column: 6 / 7;
            background: none;

        }

        div[for="total-hours-loaded"] {
            grid-row: 14 / 16;
            grid-column: 1 / 6;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        div[for="result-hours-loaded"] {
            grid-row: 14 / 16;
            grid-column: 6 / 7;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: none;

        }

        div[for="loadbility-average"] {
            grid-row: 16 / 18;
            grid-column: 1 / 6;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        div[for="result-loadbility-average"] {
            grid-row: 16 / 18;
            grid-column: 6 / 7;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: none;

        }

        div[for="participation-average"] {
            grid-row: 18 / 20;
            grid-column: 1 / 6;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }

        div[for="result-participation-average"] {
            grid-row: 18 / 20;
            grid-column: 6 / 7;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: none;

        }


        ////////////// RIGHT ACTIVIDADES REALIZADAS

        div[for="activities-done-top"] {
            grid-row: 1 / 2;
            grid-column: 7/11;

        }


        textarea[for="activities-done1"] {
            grid-row: 2 / 3;
            grid-column: 7 / 11;

        }

        textarea[for="activities-done2"] {
            grid-row: 3 / 4;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done3"] {
            grid-row: 4 / 5;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done4"] {
            grid-row: 5 / 6;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done5"] {
            grid-row: 6 / 7;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done6"] {
            grid-row: 7 / 8;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done7"] {
            grid-row: 8 / 9;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done8"] {
            grid-row: 9 / 10;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done9"] {
            grid-row: 10 / 11;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done10"] {
            grid-row: 11 / 12;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done11"] {
            grid-row: 12 / 13;
            grid-column: 7 / 11;
        }

        textarea[for="activities-done12"] {
            grid-row: 13 / 14;
            grid-column: 7 / 11;
        }

        div[for="evaluated-capacitation"] {
            grid-row: 14 / 15;
            grid-column: 7 / 11;
        }

        textarea[for="evaluated-capacitation1"] {
            grid-row: 15 / 16;
            grid-column: 7 / 11;
        }

        textarea[for="evaluated-capacitation2"] {
            grid-row: 16 / 17;
            grid-column: 7 / 11;

        }

        textarea[for="evaluated-capacitation3"] {
            grid-row: 17 / 18;
            grid-column: 7 / 11;
        }

        textarea[for="evaluated-capacitation4"] {
            grid-row: 18 / 19;
            grid-column: 7 / 11;
        }


        textarea[for="evaluated-capacitation5"] {
            grid-row: 19 / 20;
            grid-column: 7 / 11;

        }
    }

    &-general {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: initial;
        grid-area: 83 / 1 / 96 / 9;

        grid-template-columns: repeat(1, 1fr);
        row-gap: 3px;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="general-features-top1"] {
            grid-row: 1 / 2;
            text-align: initial;

        }


        div[for="general-features-top2"] {
            grid-row: 3 / 4;
            text-align: initial;

        }


        div[for="general-features-top3"] {
            grid-row: 5 / 6;
            text-align: initial;

        }

        div[for="general-features-top4"] {
            grid-row: 7 / 8;
            text-align: initial;

        }

        div[for="general-features-top5"] {
            grid-row: 9 / 10;
            text-align: initial;

        }


        div[for="general-features-top6"] {
            grid-row: 11 / 12;
            text-align: initial;

        }

    }

    &-comments {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 97 / 1 / 98 / 9;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3px;
        font-size: 13px;
    }

    &-promotions {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 99 / 1 / 103 / 5;
        grid-template-columns: repeat(4, 1fr);
        // row-gap: 3px;
        // column-gap: 3px;
        font-size: 13px;
        border: 1px solid black;

        div {
            .forDivLabel();
        }

        div[for="last-promotion"] {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            border: 1px solid black;
        }

        div[for="date-promotion"] {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            border: 1px solid black;
        }

        div[for="date-promotion1"] {
            grid-row: 3 / 5;
            grid-column: 1 / 2;
            background: none;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid black;
        }

        div[for="position"] {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            border: 1px solid black;
        }

        div[for="position1"] {
            grid-row: 3 / 5;
            grid-column: 2 / 3;
            background: none;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid black;
        }

        div[for="proposed-promotion"] {
            grid-row: 1 / 2;
            grid-column: 3 / 5;
            border: 1px solid black;
        }

        div[for="proposed-promotion1"] {
            grid-row: 2 / 5;
            grid-column: 3 / 5;
            background: none;
            height: 98px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid black;
        }
    }

    &-approvals {
        display: grid;
        color: @Text-Color;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-area: 99 / 5 / 103 / 9;
        grid-template-columns: repeat(4, 1fr);
        border: 1px solid black;
        font-size: 13px;

        div {
            .forDivLabel();
        }

        div[for="approvals-evaluator"] {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            border: 1px solid black;
        }

        div[for="approvals-evaluator1"] {
            grid-row: 2 / 5;
            grid-column: 1 / 3;
            background: none;
            height: 98px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid black;
        }

        div[for="approvals-evaluated"] {
            grid-row: 1 / 2;
            grid-column: 3 / 5;
            border: 1px solid black;
        }

        div[for="approvals-evaluated1"] {
            grid-row: 2 / 5;
            grid-column: 3 / 5;
            background: none;
            height: 98px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid black;
        }



    }
}