.register-hour{
    width: min(100%,80rem);

    //Ampliamos un poco el grid
    &-title{
        grid-area: 1 / 1 / 2 / 7;
    }

    //Select
    &-select{

        //Años
        &-year{
            grid-area: 2 / 1 / 3 / 3;
        }

        //Meses
        &-month{
            grid-area: 2 / 3 / 3 / 5;
        }

        //Semanas
        &-week{
            grid-area: 2 / 5 / 3 / 7;
        }

        //Proyectos
        &-project{
            grid-area: 3 / 2 / 4 / 6;
        }

        //Administrativas
        &-admin{
            grid-area: 5 / 2 / 6 / 6;
        }

        //Horas
        &-hours{
            margin-top: 10px;
            resize: vertical;
        }

        // &-hours[id="observation"]{width: max(150px,100%)}
    }

    //Check Button
    &-check{
        .aLink();
        display: inline-block;
        margin-top: 10px;
    }

    //UnCheck Button
    &-uncheck{
        .aLink();
        display: inline-block;
        margin-top: 10px;
        margin-left: 30px;
    }

    //Td
    .td-project{
        width: 200px;
    }

    .form-select{
        width: 200px;
    }
}
