html {
  background-color: #E9ECEF;
}
[v-cloak] {
  display: none;
}
#app {
  background-color: #E9ECEF;
}
#app .wrapper-forms {
  padding-bottom: 30px;
  padding-top: 50px;
}
@media (max-width: 575px) {
  #app .wrapper-forms {
    padding-bottom: 0px;
    padding-top: 50px;
  }
}
#app .wrapper-forms form {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 15px;
  transition: all 0.3s;
}
#app .wrapper-forms form:hover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
}
#app .wrapper-forms form > div.form-group label {
  color: #091F40;
}
#app .wrapper-forms form > div.form-group .form-control {
  border-radius: 2px;
}
#app .wrapper-forms form > div.form-group .form-control:disabled {
  cursor: not-allowed;
}
#app .wrapper-forms .btn {
  border-radius: 2px;
  font-weight: 600;
}
#app .wrapper-forms .btn:hover {
  background-color: #F6A81C !important;
  color: #091F40 !important;
}
#app .wrapper-forms .btn:disabled {
  cursor: not-allowed;
}
