/*@font-face {
  font-family: "Rawline";
  src: url("../../fonts/rawline/rawline-600.ttf");
}*/
html {
  overflow-x: hidden;
}
[v-cloak] {
  display: none;
}
#login {
  background-color: #E9ECEF;
  min-height: 100vh;
}
#login > .row {
  height: 100vh;
}
#login > .row form {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  padding: 15px;
  transition: all 0.3s;
}
#login > .row form:hover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
}
#login > .row form > div.logo {
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
}
#login > .row form > div.logo img {
  height: 90px;
  width: auto;
}
#login > .row form > div.form-group {
  position: relative;
}
#login > .row form > div.form-group label {
  color: #091F40;
}
#login > .row form > div.form-group .invalid-feedback {
  display: block !important;
}
#login > .row form > div.form-group .form-control {
  border-radius: 2px;
}
#login > .row form > div.form-group .form-control.error {
  border-color: #dc3545;
}
#login > .row form > div.form-group .form-control:disabled {
  cursor: not-allowed;
}
#login > .row form > div.form-group .form-control#clave {
  padding-right: 28px;
}
#login > .row form > div.form-group .ver-clave {
  bottom: 7px;
  position: absolute;
  right: 6px;
  transition: all 0.3s;
}
#login > .row form > div.form-group .ver-clave:hover {
  color: #F6A81C;
  cursor: pointer;
}
#login > .row form > div.wrapper-recovery-pass {
  margin-bottom: 10px;
  margin-top: 10px;
}
#login > .row form > div.wrapper-recovery-pass .recuperarClave {
  color: #007BFF;
  transition: all 0.3s;
}
#login > .row form > div.wrapper-recovery-pass .recuperarClave:hover {
  cursor: pointer;
  text-decoration: underline;
}
#login > .row form > div .btn {
  background-color: #091F40;
  border: 2px solid #091F40;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s;
  width: 100%;
}
#login > .row form > div .btn:hover {
  background-color: #F6A81C;
  color: #091F40;
}
#login > .row form > div .btn:disabled {
  cursor: not-allowed;
}
#login #modal-recuperar-clave .modal-dialog .modal-content {
  background-color: #ffffff;
  border-radius: 2px !important;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-header {
  border-bottom: 0px;
  color: #022C43;
  padding: 0.5rem 0.5rem;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-header .close {
  color: #022C43;
  font-size: 2rem;
  opacity: 1;
  text-shadow: 0 1px 0 #FED600;
  transition: all 0.3s;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-header .close:hover {
  color: #cc0000;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-body {
  padding: 0.5rem;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-body form {
  margin-top: 10px;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-body form .form-group .invalid-feedback {
  display: block !important;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-body form .form-group label {
  color: #091F40;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-body form .form-group .form-control {
  border-radius: 2px;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-body form .form-group .form-control.error {
  border-color: #dc3545;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-body form .form-group .form-control:disabled {
  cursor: not-allowed;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-body .alert {
  margin-bottom: 0px;
  width: 100%;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-footer {
  border-top: 0px;
  padding: 0.3rem;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-footer .alert {
  margin-bottom: 0px;
  width: 100%;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-footer .btn {
  background-color: #091F40;
  border: 2px solid #091F40;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 600;
  padding: 0.375rem 0.75rem;
  transition: all 0.3s;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-footer .btn:hover {
  background-color: #F6A81C;
  color: #091F40;
}
#login #modal-recuperar-clave .modal-dialog .modal-content .modal-footer .btn:disabled {
  cursor: not-allowed;
}
