/*@font-face {
  font-family: "Rawline";
  src: url("../../fonts/rawline/rawline-600.ttf");
}*/
html {
  overflow-x: hidden;
}
#modificarUsuario {
  background-color: #E9ECEF;
}
#modificarUsuario .wrapper-forms {
  padding-bottom: 50px;
  padding-top: 70px;
}
@media (max-width: 575px) {
  #modificarUsuario .wrapper-forms {
    padding-bottom: 0px;
    padding-top: 50px;
  }
}
#modificarUsuario .wrapper-forms form {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  margin-bottom: 50px;
  padding: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#modificarUsuario .wrapper-forms form:hover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
}
#modificarUsuario .wrapper-forms form > div.logo {
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
}
#modificarUsuario .wrapper-forms form > div.logo img {
  height: 90px;
  width: auto;
}
#modificarUsuario .wrapper-forms form > div.wrapper-required-legend {
  margin-bottom: 20px;
}
#modificarUsuario .wrapper-forms form > div.wrapper-required-legend .campo-obligatorio {
  color: #cc0000;
}
#modificarUsuario .wrapper-forms form > div.form-group .campo-obligatorio {
  color: #cc0000;
}
#modificarUsuario .wrapper-forms form > div.form-group label {
  color: #091F40;
}
#modificarUsuario .wrapper-forms form > div.form-group label.label-warning {
  color: #cc0000;
}
#modificarUsuario .wrapper-forms form > div.form-group .invalid-feedback {
  display: block !important;
}
#modificarUsuario .wrapper-forms form > div.form-group .form-control {
  border-radius: 2px;
}
#modificarUsuario .wrapper-forms form > div.form-group .form-control.error {
  border-color: #dc3545;
}
#modificarUsuario .wrapper-forms form > div.form-group .form-control:disabled {
  cursor: not-allowed;
}
#modificarUsuario .wrapper-forms form > div.wrapper-recovery-pass {
  margin-bottom: 10px;
  margin-top: 10px;
}
#modificarUsuario .wrapper-forms form > div.wrapper-recovery-pass .recuperarClave {
  color: #007BFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#modificarUsuario .wrapper-forms form > div.wrapper-recovery-pass .recuperarClave:hover {
  cursor: pointer;
  text-decoration: underline;
}
#modificarUsuario .wrapper-forms .wrapper-back-btn {
  margin-bottom: 35px;
}
#modificarUsuario .wrapper-forms .wrapper-back-btn > div {
  padding-left: 5px;
  padding-right: 5px;
}
#modificarUsuario .wrapper-forms .wrapper-back-btn > div .btn {
  background-color: transparent;
  border: 2px solid #091F40;
  border-radius: 2px;
  color: #091F40;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
#modificarUsuario .wrapper-forms .wrapper-back-btn > div .btn.atras {
  background-color: transparent;
  color: #091F40;
}
#modificarUsuario .wrapper-forms .wrapper-back-btn > div .btn:hover {
  background-color: #F6A81C;
  color: #091F40;
}
#modificarUsuario .wrapper-forms .wrapper-subtmit > div {
  padding-left: 5px;
  padding-right: 5px;
}
#modificarUsuario .wrapper-forms .wrapper-subtmit > div .btn {
  border: 2px solid #091F40;
  border-radius: 2px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
#modificarUsuario .wrapper-forms .wrapper-subtmit > div .btn.subtmit {
  background-color: #091F40;
  color: #ffffff;
}
#modificarUsuario .wrapper-forms .wrapper-subtmit > div .btn.atras {
  background-color: transparent;
  color: #091F40;
}
#modificarUsuario .wrapper-forms .wrapper-subtmit > div .btn:hover {
  background-color: #F6A81C;
  color: #091F40;
}
#modificarUsuario .wrapper-forms .wrapper-subtmit > div .btn:disabled {
  cursor: not-allowed;
}
#modificarUsuario .wrapper-forms .wrapper-alert {
  margin-top: 15px;
}
#modificarUsuario .wrapper-forms .wrapper-alert > div {
  padding-left: 0px;
  padding-right: 0px;
}
#modificarUsuario .wrapper-forms .wrapper-alert > div .alert {
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
}
