html {
  overflow-x: hidden;
}
[v-cloak] {
  display: none;
}
#app {
  background-color: #E9ECEF;
}
#app .wrapper-forms {
  min-height: calc(100vh - 62px);
  padding-bottom: 50px;
  padding-top: 100px;
}
@media (max-width: 575px) {
  #app .wrapper-forms {
    padding-bottom: 0px;
    padding-top: 50px;
  }
}
#app .wrapper-forms form {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  margin-bottom: 50px;
  padding: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#app .wrapper-forms form:hover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
}
#app .wrapper-forms form > div.logo {
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
}
#app .wrapper-forms form > div.logo img {
  height: 90px;
  width: auto;
}
#app .wrapper-forms form > div.wrapper-required-legend {
  margin-bottom: 20px;
}
#app .wrapper-forms form > div.wrapper-required-legend .campo-obligatorio {
  color: #cc0000;
}
#app .wrapper-forms form > div #lista-cliente .btn {
  border: none;
  padding: 0px !important;
}
#app .wrapper-forms form > div #lista-cliente .dropdown-menu {
  width: 100%;
}
#app .wrapper-forms form > div #lista-cliente .dropdown-menu .dropdown-item {
  padding: 0.25rem 0.7rem;
  white-space: normal;
}
#app .wrapper-forms form > div.form-group .titulo-indicar-horas {
  color: #cc0000;
  margin-top: 30px;
  text-decoration: underline;
}
#app .wrapper-forms form > div.form-group .campo-obligatorio {
  color: #cc0000;
}
#app .wrapper-forms form > div.form-group label {
  color: #091F40;
}
#app .wrapper-forms form > div.form-group label.label-warning {
  color: #cc0000;
}
#app .wrapper-forms form > div.form-group .invalid-feedback {
  display: block !important;
}
#app .wrapper-forms form > div.form-group .form-control {
  border-radius: 2px;
}
#app .wrapper-forms form > div.form-group .form-control.error {
  border-color: #dc3545;
}
#app .wrapper-forms form > div.form-group .form-control:disabled {
  cursor: not-allowed;
}
#app .wrapper-forms form > div.form-group .form-control-plaintext {
  font-weight: 600;
}
#app .wrapper-forms .wrapper-subtmit > div {
  padding-left: 0px;
  padding-right: 0px;
}
#app .wrapper-forms .wrapper-subtmit > div .btn {
  background-color: #091F40;
  border: 2px solid #091F40;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
#app .wrapper-forms .wrapper-subtmit > div .btn:hover {
  background-color: #F6A81C;
  color: #091F40;
}
#app .wrapper-forms .wrapper-subtmit > div .btn:disabled {
  cursor: not-allowed;
}
#app .wrapper-forms .wrapper-refrescar > div {
  padding-left: 0px;
  padding-right: 0px;
}
#app .wrapper-forms .wrapper-refrescar > div .btn {
  background-color: #091F40;
  border: 2px solid #091F40;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
#app .wrapper-forms .wrapper-refrescar > div .btn:hover {
  background-color: #F6A81C;
  color: #091F40;
}
#app .wrapper-forms .wrapper-refrescar > div .btn:disabled {
  cursor: not-allowed;
}
#app .wrapper-forms .wrapper-alert {
  margin-top: 15px;
}
#app .wrapper-forms .wrapper-alert > div {
  padding-left: 0px;
  padding-right: 0px;
}
#app .wrapper-forms .wrapper-alert > div .alert {
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
}
