/*@font-face {
  font-family: "Rawline";
  src: url("../../fonts/rawline/rawline-600.ttf");
}*/

html{
  overflow-x: hidden;
}

[v-cloak] {
  display: none;
}

#modificarCliente{
  background-color: #E9ECEF;

  .wrapper-forms {
    padding-bottom: 50px;
    padding-top: 70px;

    @media (max-width: 575px) {
      padding-bottom: 0px;
      padding-top: 50px;
    }

    form{
      background-color: white;
      border:1px solid rgba(0,0,0,0.13);
      border-radius: 3px;
      margin-bottom: 50px;
      padding: 15px;
      transition: all .3s;

      &:hover{
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
      }

      > div{

        &.logo{
          margin-bottom: 40px;
          margin-top: 30px;
          text-align: center;

          img{
            height: 90px;
            width: auto;
          }

        }

        &.wrapper-required-legend{
          margin-bottom: 20px;

          .campo-obligatorio{
            color:#cc0000;
          }

        }

        &.form-group{

          .campo-obligatorio{
            color:#cc0000;
          }

          label{
            color:#091F40;

            &.label-warning{
              color:#cc0000;
            }

          }

          .invalid-feedback{
            display: block !important;
          }

          .form-control{
            border-radius: 2px;

            &.error{
              border-color: #dc3545;
            }

            &:disabled{
              cursor: not-allowed;
            }

          }

        }// Fin .form-group

        &.wrapper-recovery-pass{
          margin-bottom: 10px;
          margin-top: 10px;

          .recuperarClave{
            color: #007BFF;
            transition: all .3s;

            &:hover{
              cursor: pointer;
              text-decoration: underline;
            }

          }

        }

      }

    }// Fin form

    .wrapper-back-btn{
      margin-bottom: 35px;

      > div{
        padding-left: 5px;
        padding-right: 5px;

        .btn{
          background-color: transparent;
          border: 2px solid #091F40;
          border-radius: 2px;
          color: #091F40;
          font-weight: 600;
          transition: all .3s;
          width: 100%;

          &.atras{
            background-color: transparent;
            color: #091F40;
          }

          &:hover{
            background-color: #F6A81C;
            color: #091F40;
          }

        }

      }

    }

    .wrapper-subtmit{

      > div{
        padding-left: 5px;
        padding-right: 5px;

        .btn{
          border: 2px solid #091F40;
          border-radius: 2px;
          font-weight: 600;
          transition: all .3s;
          width: 100%;

          &.subtmit{
            background-color: #091F40;
            color: rgba(255,255,255,1);
          }

          &.atras{
            background-color: transparent;
            color: #091F40;
          }

          &:hover{
            background-color: #F6A81C;
            color: #091F40;
          }

          &:disabled{
            cursor: not-allowed;
          }

        }

      }

    }

    .wrapper-alert{
      margin-top: 15px;

      > div{
        padding-left: 0px;
        padding-right: 0px;

        .alert{
          margin-bottom: 0px;
          text-align: center;
          width: 100%;
        }

      }

    }

  }// Fin .wrapper-forms

}// Fin #modificarCliente