html{
  overflow-x: hidden;
}

[v-cloak] {
  display: none;
}

#app{
  background-color: #E9ECEF;
  min-height: 100vh;

  > .row {
    height: 100vh;

    form{
      background-color: white;
      border:1px solid rgba(0,0,0,0.13);
      border-radius: 18px;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
      padding: 15px;
      transition: all .3s;

      .alert{
        border-radius: 18px;
        margin-top: 15px;
      }

      > div{

        &.form-group{

          .invalid-feedback{
            display: inline-block;
          }

          .input-group-prepend{

            .input-group-text{
              border-bottom-left-radius: 18px;
              border-top-left-radius: 18px;
            }

          }

          .input-group-append{

            .input-group-text{
              border-bottom-right-radius: 18px;
              border-top-right-radius: 18px;
              transition: all .3s;

              &:hover{
                color: #007BFF;
                cursor: pointer;
              }

            }

          }

          .form-control{
            border-bottom-left-radius: 18px;
            border-top-left-radius: 18px;

            &:disabled{
              cursor: not-allowed;
            }

          }

        }// Fin .form-group

        .btn{
          border-radius: 18px;

          &:disabled{
            cursor: not-allowed;
          }

        }

      }

    }// Fin form

  }// FIn > .row

}// Fin #cambiarClave
