/* Root de colores y Fonts*/
@Background-Color: #e9ecef;
@Container-Color: #fff;
@Shadow-Hover-Color: #6c757d;
@Text-Color: #000;
@Thead-Color: #000;
@Text-Thead-Color: #e9ecef;
@Button-Color: #3490dc;
@Button-Select-Color: #fd7e14;
@Sucess-Submit-Color: #38c172;
@Failure-Submit-Color: #e3342f;
/*Background General*/
body{
    background: @Background-Color;
    object-fit: contain;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: @Text-Color
}
//Desactivamos mostrar contraseñas en edge
input[type="password"]::-ms-reveal{ display: none;}

/*Elementos para ocultar*/
[v-cloak] { display: none }

//Deshabilitar botones
.disable{pointer-events: none; opacity: 0.6;}

//Estilo predeterminado para todos los contenedores
.styleContainer{
    background: @Container-Color;
    width: min(100%,64rem);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
}

//Estilo para los enlaces
.aLink{
    color: inherit;
    text-decoration: none;
    transition: color 0.3s linear;
    cursor: pointer;
    &:hover{color: @Button-Select-Color} //Desactivamos el estilo de los <a>
}

//Estilo para todos los botones del UI
.buttonCRUD{
    background: @Button-Color;
    width: min(90%,12rem);
    text-align: center;
    font-weight: bolder;
    border: 2px solid @Button-Color;
    border-radius: 5px;
    box-shadow: 0em 0.3em 0.3em @Shadow-Hover-Color;
    transition: background 0.5s ease-in, border 0.5s ease-in;
    padding: 5px;
    cursor: pointer;
    &:hover{
        background: @Button-Select-Color;
        border-color: @Button-Select-Color;
    }
}

//Target Nav Style
.barsBottomTarget
{
    &::before
    {
        content: '';
        position: absolute;
        bottom: 1vh;
        left: 0;
        background: @Button-Select-Color;
        width: 100%;
        height: 1px;
        z-index: 1;
        transform-origin: left;
        transform: scale(0);
        transition: transform 0.5s ease-out //Barra inferior hover
    }

    &:target::before{ transform: scale(1)}
}

//Mensajes de Error
.form-ErrorInput{
    font-size: .6em;
    color: @Failure-Submit-Color
}

//Login correcto
.form-SuccessInput{
    font-size: .6em;
    color: @Sucess-Submit-Color
}

//Select interno
.selectIntoAddon{
    border-radius: 0;
    border: none;
    background-color: inherit;

    &:focus{ box-shadow: none;}
}

/*Imports a los estilos*/
@import 'vue3-toastify/dist/index.css';
@import '@vueform/multiselect/themes/default.css';
//Layouts
@import 'layouts/login.less';
@import 'layouts/dashboard.less';
@import 'layouts/formUser.less';

//Miscelaneos
@import 'utilities/loading.less';
@import 'utilities/list.less';
