/* Root de colores y Fonts*/
@Background-Color: #e9ecef;
@Container-Color: #fff;
@Shadow-Hover-Color: #6c757d;
@Label-Color: #d1d7dd;
@Text-Color: #000;
@Thead-Color: #091f40;
@Text-Thead-Color: #fff;
@Button-Color: #3490dc;
@Button-Select-Color: #fd7e14;
@Sucess-Submit-Color: #38c172;
@Failure-Submit-Color: #e3342f;
/*Background General*/
body{
    background: @Background-Color;
    object-fit: contain;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: @Text-Color
}
//Desactivamos mostrar contraseñas en edge
input[type="password"]::-ms-reveal{ display: none;}

/*Elementos para ocultar*/
[v-cloak] { display: none }

//Deshabilitar botones
.disable{pointer-events: none; opacity: 0.6;}

//Estilo predeterminado para todos los contenedores
.styleContainer{
    background: @Container-Color;
    width: min(100%,70rem);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
}

//Estilo predeterminado para mensajes de error
.not-found{
    width: 50%;
    text-align: center;
    margin: 10px auto;
    font-size: 1.2rem;
}

//Estilo para banderas de estado de la hora
.admin_message{
    width: 100%;
}

//Tarjetas de informacion
.cardContainer{
    padding: 5px;
    border: 1px solid @Shadow-Hover-Color;
    border-left-width: 0.25rem;
    border-radius: 0.3rem;
}

//Estilo para los enlaces
.aLink{
    color: inherit;
    text-decoration: none;
    transition: color 0.3s linear;
    cursor: pointer;
    &:hover{color: @Button-Select-Color} //Desactivamos el estilo de los <a>
}

//Estilo para todos los botones del UI
.buttonCRUD{
    background: @Button-Color;
    width: min(90%,12rem);
    text-align: center;
    font-weight: bolder;
    border: 2px solid @Button-Color;
    border-radius: 5px;
    box-shadow: 0em 0.3em 0.3em @Shadow-Hover-Color;
    transition: background 0.5s ease-in, border 0.5s ease-in;
    padding: 5px;
    white-space: pre-line;
    word-wrap: break-word;
    cursor: pointer;
    &:hover{
        background: @Button-Select-Color;
        border-color: @Button-Select-Color;
    }
}

//Target Nav Style
.barsBottomTarget
{
    &::before
    {
        content: '';
        position: absolute;
        bottom: 1vh;
        left: 0;
        background: @Button-Select-Color;
        width: 100%;
        height: 1px;
        z-index: 1;
        transform-origin: left;
        transform: scale(0);
        transition: transform 0.5s ease-out //Barra inferior hover
    }

    &:target::before{ transform: scale(1)}
}

//Mensajes de Error
.form-ErrorInput{
    font-size: .8em;
    font-weight: bolder;
    color: @Failure-Submit-Color
}

//Login correcto
.form-SuccessInput{
    font-size: .8em;
    font-weight: bolder;
    color: @Sucess-Submit-Color
}

//Select interno
.selectIntoAddon{
    border-radius: 0;
    border: none;
    background-color: inherit;

    &:focus{ box-shadow: none;}
}

//Acomodar el multiselect tag
.multiselect-tag{
    white-space: normal;
}

.multiselect-placeholder{
    font-size: 0.7em;
}

//CSS para columnas internas en table
.tableFormat{
    &-thead{
        background: @Thead-Color;
        color: @Text-Thead-Color;
        text-align: center;
        height: 60px;
    }

    & td, & tr { height: 20px;}
    //Td para los setting
    & tbody .list-container-table-setting-container{
        position: relative;

        &-modal{
            background: none;
            width: 12rem;
            position: absolute;
            top: -20px; right: 30px;
            z-index: 1;
            padding: 8px;
            border-radius: 5px;
            border: solid 1px @Shadow-Hover-Color;
            font-size: 0.9em;
            font-weight: bolder;
            transform: scale(0);
            transition: transform 0.5s ease-in-out;
        }
    }

}

//Css para lo head
.table-th{
    width:200px;
    overflow: auto;
}

/*Imports a los estilos*/
@import 'vue3-toastify/dist/index.css';
@import '@vueform/multiselect/themes/default.css';
//Layouts
@import 'layouts/login.less';
@import 'layouts/dashboard.less';
@import 'layouts/formUser.less';
@import 'layouts/modalPreview.less';
@import 'layouts/passwordControl.less';

//Miscelaneos
@import 'utilities/loading.less';
@import 'utilities/list.less';
@import 'utilities/DropdownSelect.less';
@import 'utilities/RegisterHour.less';
@import 'utilities/closeProject.less';
@import 'utilities/BillingInfo.less';
@import 'utilities/BillingForm.less';
@import 'utilities/Reports.less';
