/*@font-face {
  font-family: "Rawline";
  src: url("../../fonts/rawline/rawline-600.ttf");
}*/

html{
  overflow-x: hidden;
}

#inicio{
  background-color: #E9ECEF;
  height: 100vh;

  #menu-principal{
    background-color: white;
    margin-left: -15px;
    margin-right: -15px;

    .navbar-brand{
      height: 100%;
      position: relative;

      img{
        height: 35px;
        width: auto;
      }

    }

  }// Fin #menu-principal

}// Fin #inicio
