/*@font-face {
  font-family: "Rawline";
  src: url("../../fonts/rawline/rawline-600.ttf");
}*/

html{
  overflow-x: hidden;
}

[v-cloak] {
  display: none;
}

#app{
  background-color: #E9ECEF;
  min-height: 100vh;

  > .row {
    height: 100vh;

    form{
      background-color: white;
      border:1px solid rgba(0,0,0,0.13);
      border-radius: 18px;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
      padding: 15px;
      transition: all .3s;

      .alert{
        border-radius: 18px;
        margin-top: 15px;
      }

      > div{

        &.logo{
          height: 90px;
          margin-bottom: 40px;
          margin-top: 30px;
          transition: all .3s;

          @media (max-width: 960px) {
            height: 80px;
            margin-top: 20px;
            margin-bottom: 30px;
          }

          img{
            height: 100%;
            transition: all .3s;
          }

        }

        &.form-group{

          .input-group-prepend{

            .input-group-text{
              border-bottom-left-radius: 18px;
              border-top-left-radius: 18px;
            }

          }

          .input-group-append{

            .input-group-text{
              border-bottom-right-radius: 18px;
              border-top-right-radius: 18px;
              transition: all .3s;

              &:hover{
                color: #007BFF;
                cursor: pointer;
              }

            }

          }

          .form-control{

            &:disabled{
              cursor: not-allowed;
            }

          }

          &:nth-child(2){

            .form-control{
              border-bottom-right-radius: 18px;
              border-top-right-radius: 18px;
            }

          }

        }// Fin .form-group

        &.wrapper-recovery-pass{
          margin-bottom: 10px;
          margin-top: 10px;
        }

        .btn{
          border-radius: 18px;

          &:disabled{
            cursor: not-allowed;
          }

        }

      }

    }// Fin form

    .wrapper-social-icons{
      margin-top: 15px;

      .fab{
        color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        margin-left: 6px;
        margin-right: 6px;
        transition: all .3s;

        &:hover{
          color: #007bff;
          cursor: pointer;
        }

      }// Fin .fab

    }// Fin .wrapper-social-icons

  }// FIn > .row

}// Fin #app

#modal-recuperar-clave{

  .modal-dialog{

    .modal-content{
      background-color: #ffffff;
      border-radius: 18px !important;

      .modal-header{
        border-bottom: 0px;
        color: #022C43;
        padding-bottom: 0px;

        .close{
          color: #022C43;
          font-size: 2rem;
          opacity: 1;
          text-shadow: 0 1px 0 #FED600;
          transition: all .3s;

          &:hover{
            color: #cc0000;
          }

        }

      }

      .modal-body{
        padding-bottom: 0px;
        padding-top: .5rem;

        form{
          margin-top: 10px;

          .form-group{

            .invalid-feedback{
              display: block !important;
            }

            .input-group-prepend{

              .input-group-text{
                border-bottom-left-radius: 18px;
                border-top-left-radius: 18px;
              }

            }

            .form-control{
              border-bottom-right-radius: 18px;
              border-top-right-radius: 18px;

              &:disabled{
                cursor: not-allowed;
              }

            }

          }// Fin .form-group

        }// Fin form

      }// Fin .modal-body

      .modal-footer{
        border-top: 0px;
        padding-top: .5rem;

        .alert{
          border-radius: 18px;
        }

        .btn{
          border-radius: 18px;

          &:disabled{
            cursor: not-allowed;
          }

        }

      }

    }// Fin modal-content

  }// Fin .modal-dialog

}// Fin #modal-recuperar-clave
