@font-face {
  font-family: "Rawline";
  src: url("../../fonts/rawline/rawline-600.ttf");
}

html{
  overflow-x: hidden;
}

#login{

  #modal-recuperar-clave{

    .modal-dialog{

      .modal-content{
        background-color: #ffffff;

        .modal-header{
          border-bottom: 0px;
          color: #022C43;
          font-family: "Rawline";
          padding: .5rem .5rem;

          .close{
            color: #022C43;
            font-size: 2rem;
            opacity: 1;
            text-shadow: 0 1px 0 #FED600;
            transition: all .3s;

            &:hover{
              color: #124A68;
            }

          }

        }

        .modal-body{
          font-family: "Brandon Grotesque";
          padding: .5rem;

          .fa-check{
            color: #F9A500;
            margin-right: 5px;
          }

        }

        .modal-footer{
          border-top: 0px;
          font-family: "Brandon Grotesque";
          padding: .3rem;

          .btn{
            background-color: #022C43;
            border: 2px solid #022C43;
            color: rgba(255,255,255,1);
            font-weight: 600;
            transition: all .3s;

            &:hover{
              background-color: #F9A500;
              color: #022C43;
            }

          }

        }

      }// Fin modal-content

    }// Fin .modal-dialog

  }// Fin #modal-recuperar-clave{

}// Fin #login
