@background-color: #EEEEE4;
@background-color-primary: #F2E58C;
@background-color-primary-hover: #000000;
@background-color-secondary: #000000;

@border-color-primary: #F2E58C;
@border-color-primary-hover: #000;
@border-color-secondary: #F2E58C;

@color-primary: #000000;
@color-primary-active: #F2E58C;
@color-primary-hover: #F2E58C;
@color-secondary: #ffffff;
@color-secondary-hover: #F2E58C;

@font-size: .8rem;

@padding-btn: 3px 8px;
